<% title "Edit Node" %>

<%= render 'form' %>

<p>
<%= render :partial => 'show_links', :locals => {:edit  => true} %>
</p>

<p>
	<%= link_to "Add Link", new_maze_node_link_path(@maze, @node) %> |
  <%= link_to "Back", edit_maze_path(@maze) %>
</p>